!!!
%html.no-js
  %head
    %title MenuLoggedOut
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "black-translucent", name: "apple-mobile-web-app-status-bar-style"}/
    %link{href: "css/style.css", rel: "stylesheet"}/
    %script{src: "js/modernizr.js"}
  %body.tr-page-cat
    / body classes for page category
    / Salud = .Sa-page-cat  $salCol:#f15c24;
    / Educacion = .ed-page-cat  $eduCOl:#29b183;
    / Trabajo = .tr-page-cat  $trcol:#ebaf03;
    / Finanzas = .fi-page-cat  $finCOl:#2e476f;
    / Migracion = .mi-page-cat  $Migcol:#0099cb;
    / Noticias = .ic-page-cat $iccol:#6c2768;
    .page_load
      %p Welcome to SEP
      .logo
      .spiner_big
    %aside#sidebarLeft.sidebarLeft
      .scrollableArea
        / Place whatever HTML you want in here
        .sidebar_search_wrapper.clearfix
          %form
            %input.sidebar_search{type: "search"}/
            %input{type: "submit", value: ""}/
        %ul.paddedLight
          / WARNING!!!
          / attr  =  data-color-class its only FOR DEMO
          / TODO: remove attr data-color-class before production
          / WARNING!!!
          %li.nonAf.sa-block
            %a{"data-color-class" => "Sa-page-cat", href: "#"}
              %span.icons.sa-icon>
              Saludx
            %a.heart_wrapp{href: "#"}
              %i.heart
          %li.ed-block
            %a{"data-color-class" => "ed-page-cat", href: "#"}
              %span.icons.ed-icon>
              Educacion
            %a.heart_wrapp{href: "#"}
              %i.heart
          %li.tr-block
            %a{"data-color-class" => "tr-page-cat", href: "#"}
              %span.icons.tr-icon>
              Trabajo
            %a.heart_wrapp{href: "#"}
              %i.heart
          %li.nonAf.fi-block
            %a{"data-color-class" => "fi-page-cat", href: "#"}
              %span.icons.fi-icon>
              Finanzas
            %a.heart_wrapp{href: "#"}
              %i.heart
          %li.mi-block
            %a{"data-color-class" => "mi-page-cat", href: "#"}
              %span.icons.mi-icon>
              Migracion
            %a.heart_wrapp{href: "#"}
              %i.heart
          %li.nonAf.ic-block
            %a{"data-color-class" => "ic-page-cat", href: "#"}
              %span.icons.ic-icon>
              Noticias
            %a.heart_wrapp{href: "#"}
              %i.heart
        .text_block
          %h6
            Como navegar
          %p
            Elige la categoria de tu interes en
            el menu para ver noticias y contenidos
            solo de esta categoria.Si el corazon esta relleno, esta categoria
            esta marcada como favorita.
          .center.heartWrapp
            %i.heart_grey
            %i.greyarrow
            %i.heart_white
    %section#page.page
      .page_optc{style: "display: none"}
      %header.topBar
        %a#leftBurger.slideRight{href: ""}
        %a.home_button{href: ""}
        %a#rightBurger.slideLeft{href: ""}
        %span.cat_header_name Trabajo
      .scrollableArea
        / CONTENT
        #content
          %section.cat_it
            .cat_it_head
              %img{alt: "", src: "http://flickholdr.com/300/300"}/
              .text_block
                %h3 Cobertura m?nima por estado
                %p
                  Consulte con su agente de seguros ya que cada Estado
                  requiere diferente cobertura para cumplir con la ley.
                  Cada Estado estipula cual es la m?nima cobertura de
                  “responsabilidad
            .cat_it_foot
              %a.social_sharing_button{href: "#"}
                %i.button_icon1>
                social
              .cat-dateils
                .date
                  %i.clock-icon>
                  06/21/2013
                .coments
                  %i.buble-icon>
                  12 comments
                .hearts_count
                  %i.heart_grey>
                  05
            .cat_SH{style: "display: none"}
              %a{href: "#"}
                %i.fc_icon_white
              %a{href: "#"}
                %i.tw_icon_white
              %a{href: "#"}
                %i.mail_icon_white
          %section.gren_block.infoBlock
            .baner_wrapper
              %img{alt: "", src: "http://flickholdr.com/200/50"}/
          %section.cat_it
            .cat_it_head
              %img{alt: "", src: "http://flickholdr.com/300/300"}/
              .text_block
                %h3 Cobertura m?nima por estado
                %p
                  Consulte con su agente de seguros ya que cada Estado
                  requiere diferente cobertura para cumplir con la ley.
                  Cada Estado estipula cual es la m?nima cobertura de
                  “responsabilidad
            .cat_it_foot
              %a.social_sharing_button{href: "#"}
                %i.button_icon1>
                social
              .cat-dateils
                .date
                  %i.clock-icon>
                  06/21/2013
                .coments
                  %i.buble-icon>
                  12 comments
                .hearts_count
                  %i.heart_grey>
                  05
            .cat_SH{style: "display: none"}
              %a{href: "#"}
                %i.fc_icon_white
              %a{href: "#"}
                %i.tw_icon_white
              %a{href: "#"}
                %i.mail_icon_white
          %section.gren_block.infoBlock
            %h3 ?Quieres m?s contenido?
            %p
              Inicia sesi?n o crea una cuenta en Saber es Poder para acceder
              a todos los contenidos, guardar tus favoritos y mucho m?s.
          %section.cat_it
            .cat_it_head
              %img{alt: "", src: "http://flickholdr.com/300/300"}/
              .text_block
                %h3 Cobertura m?nima por estado
                %p
                  Consulte con su agente de seguros ya que cada Estado
                  requiere diferente cobertura para cumplir con la ley.
                  Cada Estado estipula cual es la m?nima cobertura de
                  “responsabilidad
            .cat_it_foot
              %a.social_sharing_button{href: "#"}
                %i.button_icon1>
                social
              .cat-dateils
                .date
                  %i.clock-icon>
                  06/21/2013
                .coments
                  %i.buble-icon>
                  12 comments
                .hearts_count
                  %i.heart_grey>
                  05
            .cat_SH{style: "display: none"}
              %a{href: "#"}
                %i.fc_icon_white
              %a{href: "#"}
                %i.tw_icon_white
              %a{href: "#"}
                %i.mail_icon_white
        / CONTENT END
    %aside#sidebarRight.sidebarRight
      .scrollableArea
        .userImgAvatar{style: "background-image: url(\"CONTENT_IMG/homer-is-the-best-the-simpsons-17596403-500-313.jpg\") "}
        %h6.name
          Luis Hernandez
        .button_block
          %a.black_button{href: "#"} Mi perfil
          %a.black_button{href: "#"} Mis favoritos
        %a.greenButton.fB{href: "#"} Cerrar sesion
    %script{src: "js/jQuery.js"}
    %script{src: "js/jquery.offcanvas.min.js"}
    %script{src: "js/overthrow.js"}
    %script{src: "js/hammer.js"}
    %script{src: "js/jquery.hammer.js"}
    %script{src: "js/main.js"}
    %script{src: "js/front-end.js"}
    / WARNING!!!
    / script only FOR DEMO
    / TODO:remove this script before production
    :javascript
      jQuery(document).ready(function(){
          jQuery('#sidebarLeft ul.paddedLight a').click(function(e){
              jQuery("body").attr('class', '');
              var colorclass = jQuery(this).attr('data-color-class');
              jQuery("body").addClass(colorclass);
              return false;
          })
      })
    / WARNING!!!