!!!
%html.no-js
  %head
    %title MenuLoggedOut
    %meta{charset UTF-8}
    %meta{content width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, name viewport}
    %link{href cssstyle.css, rel stylesheet}
    %script{src jsmodernizr.js}
  %body
    .page_load
      %p Welcome to SEP
      .logo
      .spiner_big
    %aside#sidebarLeft.sidebarLeft
      .scrollableArea
         Place whatever HTML you want in here
        .sidebar_search_wrapper.clearfix
          %form
            %input.sidebar_search{type search}
            %input{type submit, value }
        %ul.paddedLight
          %li.nonAf.sa-block
            %a{href #}
              %span.icons.sa-icon
              Saludx
            %a.heart_wrapp{href #}
              %i.heart
          %li.ed-block
            %a{href #}
              %span.icons.ed-icon
              Educacion
            %a.heart_wrapp{href #}
              %i.heart
          %li.tr-block
            %a{href #}
              %span.icons.tr-icon
              Trabajo
            %a.heart_wrapp{href #}
              %i.heart
          %li.nonAf.fi-block
            %a{href #}
              %span.icons.fi-icon
              Finanzas
            %a.heart_wrapp{href #}
              %i.heart
          %li.mi-block
            %a{href #}
              %span.icons.mi-icon
              Migracion
            %a.heart_wrapp{href #}
              %i.heart
          %li.nonAf.ic-block
            %a{href #}
              %span.icons.ic-icon
              Noticias
            %a.heart_wrapp{href #}
              %i.heart
        .text_block
          %h6
            Como navegar
          %p
            Elige la categoria de tu interes en
            el menu para ver noticias y contenidos
            solo de esta categoria.Si el corazon esta relleno, esta categoria
            esta marcada como favorita.
          .center.heartWrapp
            %i.heart_grey
            %i.greyarrow
            %i.heart_white
    %section#page.page
      .page_optc{style display none}
      %header.topBar
        %a#leftBurger.slideRight{href }
        %a.home_button{href }
        %a#rightBurger.slideLeft{href }
        %a.logo{href }
      .scrollableArea
         CONTENT
        #content
          %section.cat_it
            .cat_it_head
              %img{alt , src httpflickholdr.com300300}
              .text_block
                %h3 Cobertura minima por estado
                %p
                  Consulte con su agente de seguros ya que cada Estado
                  requiere diferente cobertura para cumplir con la ley.
                  Cada Estado estipula cual es la minima cobertura de
                  “responsabilidad
            .cat_it_foot
              %a.cat_name.finCOl{href #} Finanzas
              .dateils
                .date
                  %i.clock-icon
                  06212013
                .coments
                  %i.buble-icon
                  12 comments
          %section.cat_it
            .cat_it_head
              %img{alt , src httpflickholdr.com300300}
              .text_block
                %h3 Consejos para comer mas saludable
                %p
                  agente de seguros Consulte con suya que cada Estado
                  requiere diferente cobertura para cumplir con la ley.
                  Cada Estado
                  “responsabilidad
            .cat_it_foot
              %a.cat_name.salCol{href #} Salud
              .dateils
                .date
                  %i.clock-icon
                  06212013
                .coments
                  %i.buble-icon
                  12 comments
          %section.gren_block.infoBlock
            %h3 ?Quieres mas contenido
            %p
              Inicia sesion o crea una cuenta en Saber es Poder para acceder
              a todos los contenidos, guardar tus favoritos y mucho mas.
          %section.cat_it
            .cat_it_head
              %img{alt , src httpflickholdr.com300300}
              .text_block
                %h3 Cobertura minima por estado
                %p
                  Consulte con su agente de seguros ya que cada Estado
                  requiere diferente cobertura para cumplir con la ley.
                  Cada Estado estipula cual es la minima cobertura de
                  “responsabilidad
            .cat_it_foot
              %a.cat_name.eduCOl{href #} Educacion
              .dateils
                .date
                  %i.clock-icon
                  06212013
                .coments
                  %i.buble-icon
                  12 comments
          %section.cat_it
            .cat_it_head
              %img{alt , src httpflickholdr.com300300}
              .text_block
                %h3 Consejos para comer mas saludable
                %p
                  agente de seguros Consulte con suya que cada Estado
                  requiere diferente cobertura para cumplir con la ley.
                  Cada Estado
                  “responsabilidad
            .cat_it_foot
              %a.cat_name.salCol{href #} Salud
              .dateils
                .date
                  %i.clock-icon
                  06212013
                .coments
                  %i.buble-icon
                  12 comments
          %section.gren_block.infoBlock
            .baner_wrapper
              %img{alt , src httpflickholdr.com20050}
          %section.cat_it
            .cat_it_head
              %img{alt , src httpflickholdr.com300300}
              .text_block
                %h3 Cobertura minima por estado
                %p
                  Consulte con su agente de seguros ya que cada Estado
                  requiere diferente cobertura para cumplir con la ley.
                  Cada Estado estipula cual es la minima cobertura de
                  “responsabilidad
            .cat_it_foot
              %a.cat_name.eduCOl{href #} Educacion
              .dateils
                .date
                  %i.clock-icon
                  06212013
                .coments
                  %i.buble-icon
                  12 comments
          %section.cat_it
            .cat_it_head
              %img{alt , src httpflickholdr.com300300}
              .text_block
                %h3 Consejos para comer mas saludable
                %p
                  agente de seguros Consulte con suya que cada Estado
                  requiere diferente cobertura para cumplir con la ley.
                  Cada Estado
                  “responsabilidad
            .cat_it_foot
              %a.cat_name.salCol{href #} Salud
              .dateils
                .date
                  %i.clock-icon
                  06212013
                .coments
                  %i.buble-icon
                  12 comments
         CONTENT END
    %aside#sidebarRight.sidebarRight
      .scrollableArea
        .userImgAvatar{style background-image url(CONTENT_IMGhomer-is-the-best-the-simpsons-17596403-500-313.jpg) }
        %h6.name
          Luis Hernandez
        .button_block
          %a.black_button{href #} Mi perfil
          %a.black_button{href #} Mis favoritos
        %a.greenButton.fB{href #} Cerrar sesion
    %script{src jsjQuery.js}
    %script{src jsjquery.offcanvas.min.js}
    %script{src jsoverthrow.js}
    %script{src jshammer.js}
    %script{src jsjquery.hammer.js}
    %script{src jsmain.js}
    %script{src jsfront-end.js}