.sidebar_search_wrapper{
    font-size: 0;
    border-right: 1px solid #363636;
    background-color: #ffffff;
    input[type="submit"]{
        @include SpriteGeneral();
        background-position: 7px -77px;
        background-size: 54px auto;
        background-color: #ffffff;
        display: inline-block;
        border: none;
        height: 44px;
        width: 15%;
        float: left;
    }
    .sidebar_search{
        background-color: transparent!important;
        font-size: 16px;
        line-height: 16px;
        padding: 12px 5px 13px 0px;
        width: 80%;
        min-height: 44px;
        float: left;
        margin-right: 5%;
    }
}

.sidebarLeft, .sidebarRight {
    ul {
        float:left;
        width:100%;

        a {
            float:left;
            width:100%;
            text-decoration:none;
            color: $lightGrey;
            font-weight: normal;
            font-size: 17px;
            &:hover, &.current {
                color:#fff;
                background:scale-lightness($darkGrey, 5%);
            }
        }
    }

    li {
        float:left;
        width:100%;
        border-bottom: 1px solid #363636;
        position:relative;
        list-style: none;

        .icon {
            margin:0 0.4em 0 0;
        }
        .social {
            margin:0 0.4em 0 0;
        }
    }
    h6{
        color: #00a15f;
        font-size: 18px;
        text-align: center;
    }
    .text_block{

        p{
            font-size: 11px;
            padding: 16px 30px;
            text-align: center;
            color: #999999;
            line-height: 14px;
        }
    }

}
.heartWrapp{
    padding: 0px 0 28px;
    @include clearfix();
    float: none!important;
}

.userImgAvatar{
    width: 125px;
    height: 125px;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    background-position: center center;
    background-size: cover;
    margin: 20px auto 30px;
    border: 3px solid #ffffff;

}

h6.name{
    margin-bottom: 25px;
    font-size: 20px;
}

#sidebarLeft{
    .paddedLight{
        li:first-child{
            border-top: 1px solid #363636;
        }
        padding: 0;
        margin-bottom: 35px;
        .sal-block .heart{background-position: 0px -272px}
        .edu-block .heart{background-position: -23px -272px}
        .tra-block .heart{background-position: -46px -272px}
        .fin-block .heart{background-position: -23px -294px}
        .mig-block .heart{background-position: -46px -294px}
        .not-block .heart{background-position: 0px -294px}
        a{
            padding:20px 0 20px 59px ;
            position: relative;
            width: 75%;
            display: inline-block;
            &.heart_wrapp{
                padding: 20px 0;
                text-align: center;
                width: 25%;
                border-left: 1px solid #363636;
            }
            .icons{
                position: absolute;
            }
            .sal-icon{left: 15px;}
            .edu-icon{left: 15px;top: 22px}
            .tra-icon{left: 17px;top: 23px;}
            .fin-icon{left: 11px;top: 25px;}
            .mig-icon{left: 17px;top: 23px;}
            .not-icon{left: 16px;top: 24px;}
        }
        li.nonAf{
            .sal-icon{background-position: 0 -163px}
            .edu-icon{background-position: -19px -162px}
            .tra-icon{background-position: -39px -163px}
            .fin-icon{background-position: -21px -211px}
            .mig-icon{background-position: -43px -190px}
            .not-icon{background-position: -2px -184px}
            .heart{background-position: -46px -250px}
        }

    }
}
#sidebarRight{
    color: $lightGrey;
    .button_block{
        margin-bottom: 35px;
        border-top: 1px solid #363636;
        a{
            border-bottom: 1px solid #363636;
        }
    }
    .fB{
        position: fixed;
        bottom: 0;
        right: 0;
    }

}
#menu_info{
    padding-top: 10px;
    .heartWrapp{
        padding-bottom: 0!important;
    }
}
.lF_infoBlock{
    color: #999999;
    font-size: 11px;
    line-height: 14px;
    padding: 0 3%;
    text-align: right;
    margin: 15px 0!important;
    width: 100%!important;
    input{
        display: inline-block;
        margin: 0 15px;
        vertical-align: middle;
    }

}
@media only screen and (orientation:landscape){
    /* portrait styles here */
    #sidebarRight{
        .fB{
            position: static;
            bottom: 0;
            right: 0;
        }
    }
}

